<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Motivational calendar - make every week count</h3>
  </div>

  <div class="jumbotron">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <h4 class="display-4">Get a calendar with a number of weeks</h4>
    <hr/>
    <app-birthday-date></app-birthday-date>
    <div class='row'>
      <div class='col col-xs12'>
        <p class="beforeText">Target age</p>
        <ng-select class="mySelect" [clearable]="false" [items]="targetAges" bindLabel="name" bindValue="id" placeholder="Years old"
          [(ngModel)]="targetAge"></ng-select>
      </div>
    </div>
    <p>
      <a class="btn btn-lg btn-success" href="javascript:;" role="button" (click)="generate()">Generate</a>
    </p>

    <br>
    <hr>
    <div class="font-weight-light">
      <p>Print the generated page, put it on the wall and track every week. </p>
      <p>For better results, make a list of goals you would like to achieve before you turn {{targetAge}}</p>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="float-right social-share">
          <share-buttons [theme]="'default'" [include]="['facebook','twitter','google','linkedin','reddit']" [show]="5">
          </share-buttons>
        </div>
      </div>
    </div>


  </div>
  <div id="result">
      <app-result-panel [(loading)]="loading"></app-result-panel>
  </div>

  <footer>
    <hr>
    <p>© Mykyta Stenko 2018</p>
  </footer>

</div>
